@media (min-width: 768px) {
  .movie {
    min-height: 740px;
  }
}
@media (min-width: 992px) {
  .movie {
    min-height: 680px;
  }
}
@media (min-width: 1200px) {
  .movie {
    min-height: 600px;
  }
}
