@import 'var.scss';

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__item {
    display: inline-block;
    margin: 6px 10px;
    padding: 6px 12px;
    color: $color_text;
    text-decoration: none;
    -weblit-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
    &:hover {
      background-color: $color_text_light;
    }
  }
  &__item.active {
    color: #fff;
    background-color: $color_title;
    cursor: crosshair;
  }
  &__prev {
    display: inline-block;
    margin: 6px 10px;
    padding: 6px 12px;
    color: $color_text;
    cursor: pointer;
    &:before {
      content: '<';
      font-size: 1.5em;
    }
    &:hover {
      color: $color_title;
    }
  }
  &__next {
    display: inline-block;
    margin: 6px 10px;
    padding: 6px 12px;
    cursor: pointer;
    &:after {
      content: '>';
      font-size: 1.5em;
    }
    &:hover {
      color: $color_title;
    }
  }
  &__prev.disabled,
  &__next.disabled,
  &__prev.disabled:hover,
  &__next.disabled:hover {
    cursor: crosshair;
    opacity: .15;
    color: $color_text;
  }
}

