$font_size: 16px;
$font_family: 'Roboto Condensed', 'Arial', sans-serif;
$lineheight: 1.5;
$color_text: #2d363d;
$color_title: #c83338;
$color_subtitle: #00a46f;
$color_text_light: #ccc;
$color_delete: #c83338;
$color_update: #fbaf3f;
$color_create: #00a46f;

